<div
	class="w-forms"
	*ngIf="
		type !== 'radio' &&
		type !== 'checkbox' &&
		type !== 'textarea'
	"
>
	<span class="w-forms__title" *ngIf="label">{{label}}</span>
	<input
		(keyup.enter)="wSubmit.emit(formControl.value)"
		class="input w-input__field"
		[formControl]="formControl"
		[placeholder]="placeholder"
		[ngClass]="wClass"
		[type]="type"
		[name]="name"
		#inputEl
	/>
	<ng-content></ng-content>
</div>
<!-- [disabled]="disabled" -->

<ng-container *ngIf="type === 'radio'">
	<label class="check-lebel" *ngFor="let item of items">
		<span class="form-label">{{item}}</span>
		<input
			[formControl]="formControl"
			[ngClass]="wClass"
			[name]="name"
			type="radio"
			#inputEl
		/>
		<span class="checkbox _radio"></span>
		<ng-content></ng-content>
	</label>
</ng-container>

<ng-container *ngIf="type === 'checkbox'">
	<label class="check-lebel" [ngClass]="wClass">
		<input
			[formControl]="formControl"
			class="w-input__checkbox"
			[disabled]="disabled"
			[checked]="set"
			[name]="name"
			type="checkbox"
			#inputEl
		/>
		<span class="checkbox"></span>
		<span class="check-text" *ngIf="label">{{label}}</span>
		<ng-content></ng-content>
	</label>
</ng-container>

<ng-container *ngIf="type === 'textarea'">
	<label class="w-forms">
		<span class="w-forms__title">{{label}}</span>
		<textarea
			(keyup.enter)="wSubmit.emit(formControl.value)"
			[formControl]="formControl"
			[placeholder]="placeholder"
			class="w-forms__textarea"
			[ngClass]="wClass"
			[name]="name"
			#inputEl
		></textarea>
	</label>
</ng-container>
