<header>
	<div class="header-container">
		<div class="logo-gov">
			<div class="logo-gov_title">GOV.UA</div>
			<div class="logo-gov_subtitle">Державні сайти України</div>
		</div>

		<div class="logo-main">
			<img src="assets/logo.png" alt="" />
		</div>

		<div class="action-bar">
			<div (click)="openSendRequestModal()">Надіслати звернення</div>
			<div *ngIf="!isAuthorized" routerLink="/sign">Увійти</div>
			<div *ngIf="isAuthorized" (click)="logout()">Вийти</div>
			<div *ngIf="isAdmin" routerLink="/admin">Панель адміна</div>
		</div>
	</div>

	<div class="header-container">
		<div class="header-container_title">
			Антонінська селищна рада Хмельницького району
		</div>
	</div>

	<div class="header-container">
		<nav>
			<ul>
				<li (click)="setTab('general')">Головна</li>
				<li (click)="setTab('news')">Новини</li>
				<li (click)="setTab('photos')">Фотогалерея</li>
				<li (click)="setTab('contacts')">Контакти</li>
				<li (click)="setTab('announcement')">Оголошення</li>
				<li (click)="setTab('publicInfo')">Публічна інформація</li>
			</ul>
		</nav>
	</div>
</header>
<main>
	<div class="left-block">
		<nav>
			<ul>
				<li>Голова громади</li>
				<li>Символіка</li>
				<li>Депутати</li>
				<li>Паспорт</li>
				<li>Архів документів</li>
				<li>Історична довідка</li>
				<li>Освіта</li>
				<li>Культура</li>
				<li>Проекти</li>
				<li>Інвестиції</li>
				<li>Пам'ятки</li>
				<li>Захист прав споживачів</li>
				<li>Відео</li>
				<li>Події</li>
				<li>Інформаційний вісник Антонінської громади</li>
				<li>Служба у справах дітей Антонінської громади</li>
				<li>
					КУ Центр надання соціальних послуг Антонінської селищної
					ради
				</li>
				<li>Відділ освіти</li>
				<li>
					План соціально-економічного розвитку Антонінської селищної
					ради на 2021-2023 роки
				</li>
				<li>Регуляторна політика Антонінської селищної раді</li>
			</ul>
		</nav>
	</div>

	<div class="right-block">
		<post-panel class="w100" *ngIf="isAdmin"></post-panel>
		<posts [posts]="posts"></posts>
	</div>
</main>
<footer></footer>
