<div class="wtable">
	<div class="users__header w-card__header" *ngIf="title">{{title}}
		<button
				*ngIf="config.create"
				class="table-plus-btn"
				(click)="config.create()"
				type="button"
			>
				+ <span>Add new</span>
			</button>
	</div>
	<div class="table-flex _jc-sb _ai-c">
		<div
			*ngIf="config.searchable"
			class="table-search"
			[class.table-search--active]="searchShow"
		>
			<div
				class="table-search__icon"
				(click)="searchShow=!searchShow"
			></div>
			<input
				(ngModelChange)="onSearch.emit($event)"
				[(ngModel)]="searching_text"
				class="table-search__input"
				placeholder="Search..."
				type="text"
			/>
		</div>
	</div>
	<table class="table" cellpadding="0" cellspacing="0">
		<thead class="table-header">
			<tr>
				<th *ngIf="config.num">No.</th>
				<th scope="col" *ngFor="let column of columns">
					<div
						[class._sortActiveDown]="sort_type.direction === 'desc' && column.field === sort_type.title"
						[class._sortActiveUp]="sort_type.direction === 'asc' && column.field === sort_type.title"
						class="table-header__sort"
						(click)="sort(column)"
					>
						<span>{{column.title}}</span>
						<span
							*ngIf="sortable[column.field]"
							class="material-icons icon-arrow"
						>
							keyboard_backspace
						</span>
					</div>
				</th>
				<th *ngIf="config.delete||config.update">
					<ng-template #customAction>
						<ng-container
							*ngTemplateOutlet="action.template"
						></ng-container>
					</ng-template>
					<ng-template #defaultAction>Actions</ng-template>
					<ng-container
						*ngIf="action; then customAction; else defaultAction"
					></ng-container>
				</th>
			</tr>
		</thead>
		<tbody class="table-body">
			<tr
				*ngFor="let row of rows|search: searching_text: (config.searchBy||'title')|page: config: sort_type index as i;"
			>
				<td *ngIf="config.num">{{row.num}}</td>
				<ng-container *ngFor="let column of columns">
					<ng-template #defaultRows>
						<td [attr.data-label]="column.title + ':&nbsp;'">
							{{row[column.field]}}
						</td>
					</ng-template>
					<ng-template #customRows>
						<td [attr.data-label]="column.title + ':&nbsp;'">
							<ng-container
								*ngTemplateOutlet="custom_cell[column.field]; context: {$implicit: row}"
							></ng-container>
						</td>
					</ng-template>
					<ng-container
						*ngIf="custom_cell[column.field]; then customRows; else defaultRows"
					></ng-container>
				</ng-container>
				<td
					class="table-body__last-td"
					*ngIf="config.delete||config.update"
					data-label="Actions:&nbsp;"
				>
					<i
						class="material-icons"
						*ngIf="config.update"
						(click)="config.update(row)"
						title="Edit"
					>
						edit
					</i>
					<i
						class="material-icons"
						*ngIf="config.delete"
						(click)="config.delete(row)"
						title="Delete"
					>
						delete_outline
					</i>
				</td>
			</tr>
		</tbody>
		<tfoot
			class="table-footer"
			*ngIf="config.perPage || (config.formCreate && config.create)"
		>
			<!-- <button
				*ngIf="config.create"
				class="table-plus-btn"
				(click)="config.create()"
			>
				+
			</button> -->
			<div class="item-page" *ngIf="config.perPage">
				<div class="item-page__text">Showing items per page</div>
				<div
					class="item-page__dropdown"
					(clickOutside)="select_page_size = false"
					[class.open]="select_page_size"
				>
					<div
						class="caption"
						(click)="select_page_size = !select_page_size"
					>
						{{config.perPage}}
					</div>
					<div class="list">
						<div
							class="item"
							*ngFor="let row of config.pageSizeOptions"
						>
							<div
								[class.selected]="row === config.perPage"
								(click)="changePerPage(row)"
							>
								{{row}}
							</div>
						</div>
					</div>
				</div>
				<div class="item-page__result">
					<span>
						{{((config.page-1)*config.perPage)+1}} -
						{{config.page*config.perPage >
						rows?.length&&rows?.length||config.page*config.perPage}}
					</span>
					<span> of </span>
					<span>
						{{(rows | search: searching_text:
						(config.searchBy||'title'))?.length}}
					</span>
				</div>
			</div>
			<div class="table-footer__pagination" *ngIf="config.perPage">
				<button
					[disabled]="config.page === 1"
					class="table-footer__arrow _start"
					(click)="config.page = 1"
				>
					<i class="chevron"></i>
				</button>
				<button
					[disabled]="config.page === 1"
					class="table-footer__arrow _left"
					(click)="previous()"
				>
					<i class="chevron"></i>
				</button>
				<button
					[disabled]="config.page*config.perPage > rows?.length"
					class="table-footer__arrow _right"
					(click)="next()"
				>
					<i class="chevron"></i>
				</button>
				<button
					[disabled]="isLast()"
					class="table-footer__arrow _end"
					(click)="lastPage()"
				>
					<i class="chevron"></i>
				</button>
			</div>
		</tfoot>
	</table>
</div>