@import 'scss/waw';

.w100 {
	width: 100%;
}

.btn {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	width: fit-content;
	&:hover {
		cursor: pointer;
		transition: 0.2s;
		background-color: rgba(0, 0, 0, 0.1);
	}
}

body {
	overflow: auto;
}
