<div class="template">
	<img class="template-avatar" src="/template/img/avatar.png" alt="">
	<div class="template-title">Welcome to WAW Template</div>
	<div class="template-readme">
		<div class="template-readme__title">Readme:</div>
		<div class="template-readme__item">To create new page you can type in terminal: <span class="template-readme__code">waw page NAME</span></div>
		<div class="template-readme__item">JSON in template.json is accesible via html if <span class="template-readme__code">{"port": 8000}</span> then {{{port}}} will show 8000</div>
		<div class="template-readme__item">JSON in page.json is accesible via html if <span class="template-readme__code">{"title": "Cool Title"} </span> then {{{title}}} will show Cool Title</div>
		<div class="template-readme__item">More details of how to use template you can find in <a class="template-readme__link" href="https://webartwork.github.io/wjst/docs">Wjst Documentation</a></div>
		<div class="template-readme__item">Styles: You should import each file to <span class="template-readme__code">index.scss </span> located in <span class="template-readme__code">css</span> folder and write SCSS files in <span class="template-readme__code">css/scss</span>. <br> <span class="template-red-text">Important!</span> You have global styles in <span class="template-readme__code">css/scss</span>. You can write separated styles in <span class="template-readme__code">pages/title/index.scss</span> </div>
		<div class="template-readme__item">Have also look on client <a class="template-readme__link" href="/profile">Angular project</a></div>
	</div>
</div>
