<ng-container *ngIf="component.module === modules.INPUT && !component.hidden">
	<winput
		[placeholder]="component.placeholder || ''"
		[name]="component.label || 'name'"
		[ngClass]="component.class || ''"
		[focused]="!!component.focused"
		[items]="items()"
		[label]="component.label || ''"
		(wChange)="component.value = $event; update($event)"
		[disabled]="disabled()"
		[type]="inputType()"
		[set]="setWinput()"
		(wSubmit)="next()"
	></winput>

	<!-- ==== Password ==== -->
	<ng-container *ngIf="component.type === inputTypes.PASSWORD || password">
		<div class="w-forms__input-block">
			<span class="w-forms__toggle" (click)="togglePassword()">
				<i *ngIf="password" class="icon-visibility">visibility</i>
				<i *ngIf="!password">visibility_off</i>
			</span>
		</div>
		<span
			class="w-forms__level"
			[class._sky]="ui.level(value) === 1"
			[class._orange]="ui.level(value) === 2"
			[class._green]="ui.level(value) === 3"
		>
			Level: {{ui.level(value)}}
		</span>
	</ng-container>
	<!-- ========================= -->
</ng-container>

<wselect
	*ngIf="component.module === modules.SELECT"
	[placeholder]="component.placeholder || ''"
	(modelChange)="wChange.emit($event)"
	[ngClass]="component.class || ''"
	[label]="component.label || ''"
	[items]="component.items || []"
></wselect>

<wbutton
	*ngIf="component.module === modules.BUTTON"
	[ngClass]="component.class || ''"
	[click]="component.click"
	[disabled]="!form.valid"
	[type]="buttonType()"
>
	{{component.label}}
</wbutton>

<ng-container *ngIf="component.components?.length && !component.hidden">
	<ng-container *ngFor="let component of component.components">
		<form-component
			*ngIf="!component.custom && !component.hidden"
			[ngClass]="component.boxclass || ''"
			(wchange)="wChange.emit()"
			[component]="component"
			(wsubmit)="wSubmit.emit()"
			class="form-box"
			[form]="form"
		></form-component>
	</ng-container>
</ng-container>
