.w-forms {
	position: relative;
	&__level {
		top: 50%;
		right:5px;
		position: absolute;
		display: inline-block;
        color: var(--c-text-secondary);
        font-size: calc(#{var(--fs)} - 6px);
        line-height: calc(#{var(--fs)} + 4px);
        letter-spacing: var(--letter-spacing);
		transition: var(--transition);
		&._sky {
			color: var(--c-info);
		}
		&._orange {
			color: var(--c-warn);
		}
		&._green {
			color: var(--c-success);
		}
	}
	&__input {
		padding-right: 35px;
	}
	&__input-block {
		position: relative;
	}
	&__toggle {
		display: flex;
		position: absolute;
		right: 10px;
		bottom: 25px;
		color: var(--c-placeholder);
		transform: translateY(-50%);
		cursor: pointer;
		i {
			font-size: 21px;
		}
	}
	.icon-visibility {
		color: var(--c-primary);
	}
}