.modal-title {
	display: flex;
	justify-content: center;
	h1 {
		width: fit-content;
	}
}

.form {
	&_choose-service-container {
		display: flex;
		flex-direction: column;
		h3 {
			align-self: center;
		}
	}
	&_choose-service {
		display: flex;

		._selected {
			background: rgba(0, 0, 0, 0.1);
		}

		&_item {
			transition: 0.2s;
			cursor: pointer;
			padding: 10px;
			border-bottom: 1px solid black;

			&:hover,
			&_selected {
				background: rgba(0, 0, 0, 0.1);
			}
		}

		&_right {
			margin-left: 20px;
		}
	}
}

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.form-send {
	&_field {
		display: flex;
		flex-direction: column;
		margin-top: 15px;

		button {
			align-self: center;
		}
	}
}

.info-message {
	&_btns {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		button {
			&:not(:last-child) {
				margin-right: 20px;
			}
		}
	}
}
