<div class="requests-container">
	<div class="left-block">
		<div
			(click)="activeRequest = request"
			[class.active]="activeRequest._id === request._id"
			class="request-item"
			*ngFor="let request of requests"
		>
			<div class="request-item_name">{{request.fullName}}</div>

			<div class="request-item_footer">
				<div class="request-item_date">
					{{request.dateCreated | dateFormat}}
				</div>

				<div
					[class._orange]="request.status === 1"
					[class._green]="request.status === 2"
					class="request-item_status"
				>
					{{requestStatus(request.status)}}
				</div>
			</div>
		</div>
	</div>
	<div class="right-block">
		<div *ngIf="activeRequest._id" class="request">
			<div class="request_header">
				<div class="request_name">
					<div>{{activeRequest.fullName}}</div>

					<div>
						<div>{{activeRequest.email}}</div>

						<div>, {{activeRequest.phone}}</div>
					</div>
				</div>
				<div>
					<div class="request_date">
						{{activeRequest.dateCreated | dateFormat}}
					</div>
					<!-- <div
						[class._orange]="activeRequest.status === 1"
						[class._green]="activeRequest.status === 2"
						class="request_status"
					>
						{{requestStatus(activeRequest.status)}}
					</div> -->

					<select
						[class._orange]="activeRequest.status === 1"
						[class._green]="activeRequest.status === 2"
						[(ngModel)]="activeRequest.status"
						(ngModelChange)="changeRequestStatus(activeRequest)"
						name=""
						id=""
					>
						<option
							*ngFor="let status of statuses; let i = index"
							[value]="i"
						>
							{{status}}
						</option>
					</select>
				</div>
			</div>

			<div class="request_message-container">
				<div class="title">Повідомлення</div>
				<div class="request_message">{{activeRequest.text}}</div>
			</div>

			<div class="request_answer">
				<div class="title">Відповідь</div>
				<ng-container *ngIf="!activeRequest.answer">
					<tinymce
						[config]="tinyConfig"
						[(ngModel)]="tinymceContent"
						class="tinymce"
					></tinymce>
					<button (click)="sendAnswer(activeRequest)" class="btn">
						Надіслати
					</button>
				</ng-container>

				<ng-container *ngIf="activeRequest.answer">
					<div [innerHTML]="activeRequest.answer"></div>
				</ng-container>
			</div>
		</div>
	</div>
</div>
