.panel-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: end;
	.new-post {
		width: 30px;
		height: 30px;
		border-radius: 5px;
		border: 1px solid black;
		margin-bottom: 10px;
	}
}
