<div class="container">
	<wcard [padding]="true">
		<div class="profile__header w-card__header">
			<div>Profile Settings</div>
			<div>
				<div class="avatar _profile">
					<img
						[src]="us.user.thumb || 'assets/default.png'"
						class="avatar__img"
						width="50"
						height="50"
						alt="User Avatar"
					/>
					<label class="avatar__upload" for="userAvatarUrl">
						<i class="material-icons avatar__icon">edit</i>
					</label>
				</div>
			</div>
		</div>
		<div class="profile__body">
			<wform
				(wChange)="update($event)"
				[config]="formProfile"
				*ngIf="showForm"
				#form
			></wform>

			<div class="profile__footer">
				<div class="profile__logout">
					<wbutton (click)="us.logout()" [type]="buttonTypes.DANGER">
						<span class="material-icons">logout</span>
						Logout
					</wbutton>
				</div>

				<div class="profile__password">
					<wbutton
						(click)="change_password()"
						[type]="buttonTypes.LINK"
					>
						Change Password
					</wbutton>
				</div>
			</div>
		</div>
	</wcard>
</div>
