<div class="modal-container">
	<div class="modal-title">
		<h1>Надіслати звернення</h1>
	</div>
	<div *ngIf="!isRequestSent" class="form">
		<div class="form_field">
			<span>Прізвище, ім'я, по-батькові</span>
			<input [(ngModel)]="request.fullName" class="input" type="text" />
		</div>
		<div class="form_field">
			<span>Email</span>
			<input [(ngModel)]="request.email" class="input" type="email" />
		</div>
		<div class="form_field">
			<!-- <span>Телефон</span> -->
			<!-- <input [(ngModel)]="request.phone" class="input" type="text" /> -->
			<phone label="Телефон" [(phone)]="request.phone"></phone>
		</div>
		<div class="form_field">
			<span>Повідомлення</span>
			<textarea [(ngModel)]="request.text" cols="30" rows="10"></textarea>
		</div>
		<div class="form_field">
			<label for="agree">
				<input
					[(ngModel)]="request.isAgree"
					id="agree"
					type="checkbox"
				/>
				Відповідно до ст. 11 Закону України "Про захист персональних
				даних" надаю згоду на обробку та використання моїх персональних
				даних для здійснення повноважень, пов'язаних із розглядом даного
				запиту.
			</label>
		</div>
		<div class="form_field">
			<button
				(click)="createRequest()"
				[disabled]="isButtonDisabled"
				class="btn"
			>
				Надіслати звернення
			</button>
		</div>
	</div>

	<div *ngIf="isRequestSent" class="info-message">
		<h3>Ваше звернення успішно було надіслано</h3>
		<div>
			<div>Очікуйте відповіді на вказаний email</div>
			<span *ngIf="isAuthorized"
				>Також ви можете переглянути свої звернення в особистому
				кабінеті</span
			>
		</div>

		<div class="info-message_btns">
			<button (click)="close()" class="btn">Закрити</button>
			<button *ngIf="isAuthorized" class="btn">Особистий кабінет</button>
		</div>
	</div>
</div>
