:root {
    // const
    --c-white: #fff;
    --c-black: #000;
    --c-grey: #e7e7e7;
    --c-grey-dark: #bfbfbf;

    // theme
    --c-basic: #3558ae;
    --c-primary: #256eff;
    --c-primary-hover: #0051f1;
    --c-secondary: red;
    --c-bg-primary: #f3f4f7;
    --c-bg-secondary: #ffffff;
    --c-bg-tertiary: #fcfdfe;
    --c-border: #f0f1f7;
    --c-shadow: #f3f3f3;
    --c-text-primary: #666666;
    --c-text-secondary: #19235c;
    --c-placeholder: #adb8c6;

    // classic
    --c-warn: #e67e22;
    --c-error: #e74c3c;
    --c-error-hover: #d62c1a;
    --c-success: #14c76e;
    --c-info: #17a2b8;

    // geometry
    --container: 1210px;
    --b-radius: 8px;
    --b-radius-card: 10px;
    --b-radius-btn: 10px;
    --b-radius-img: 50%;
	--padding: 10px;
    --fs: 16px;
    --ff-bold: bold;
    --ff-base: "Poppins",
        sans-serif;
    --letter-spacing: 0.3px;
    --transition: .3s all ease-in-out;
}



html.dark:root {
    --c-basic: #333;
	--c-bg-primary: #282828;
	--c-bg-secondary: #343434;
	--c-bg-tertiary: #404040;
    --c-border: #404040;
    --c-shadow: #444444;
    --c-text-primary: #ffffff;
    --c-text-secondary: #ffffff;
    --c-placeholder: #7a7a7a;
}
