<header>
	<nav class="nav">
		<div routerLink="/" class="nav_item">Назад</div>

		<div
			[class.active]="activeTab === 'requests'"
			(click)="activeTab = 'requests'"
			class="nav_item"
		>
			Звернення
		</div>
		<div
			[class.active]="activeTab === 'administrativeServices'"
			(click)="activeTab = 'administrativeServices'"
			class="nav_item"
		>
			Адміністративні послуги
		</div>
	</nav>
</header>
<main>
	<div>
		<admin-requests *ngIf="activeTab === 'requests'"></admin-requests>
		<admin-administrative-services
			*ngIf="activeTab === 'administrativeServices'"
		></admin-administrative-services>
	</div>
</main>
